<!DOCTYPE html>
<html lang="en" ng-app="AngularBuilderApp">
<head>
	<meta charset="UTF-8">
	<title>Angular App Builder</title>
	<script src="components/angular.js"></script>
	<script src="components/ui-bootstrap-tpls.min.js"></script>
	<link rel="stylesheet" type="text/css" href="components/bootstrap.min.css">
	<style>
		body, html {
			height: 100%
		}
		.panel.panel-primary {
		  width: 90%;
		  margin: auto;
		}
		.panel-body {
		  min-height: 100%;
		}
		.view-pane {
		  min-height: 500px;
		  width: 100%;
		  background-color: aliceblue;
		  box-shadow: 0 0 2px 2px #999;
		}
	</style>
</head>
<body ng-controller="builderController as builder">
	<div class="row clearfix" id="messages">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<br>
			<div class="bg-success text-center" ng-bind="builder.messageSuccess" style="padding: 15px; display: none"></div>
			<div class="bg-danger text-center" ng-bind="builder.messageError" style="padding: 15px; display: none"></div>
			<br>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<div class="panel panel-primary" style="width: 90%; margin: auto">
		<div class="panel-heading">AngularJS Application Builder</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3">
					<div>
						<h4>Views</h4>
					</div>
				</div>
				<div class="col-md-6">
					<div ng-show="builder.currentView.name">
						<h4>Current View: <i ng-bind="builder.currentView.name"></i></h4>
					</div>
				</div>
				<div class="col-md-3">
					<div ng-show="builder.currentModule.name">
						<h4>Current Module: <i ng-bind="builder.currentModule.name"></i></h4>
					</div>
				</div>
			</div>
			<hr>
			<div class="col-md-3">
				<button class="btn btn-default" ng-click="builder.newViewShow = !builder.newViewShow">+ View</button>
				<hr>
				<div ng-show="builder.newViewShow">
					<div class="form-group" >
						<label class="" for="">View Name</label>
						<input class="form-control" type="text" ng-model="builder.newViewName">
					</div>
					<div class="form-group clearfix">
						<div class="pull-right">
							<button class="btn btn-warning" ng-click="builder.newViewShow = !builder.newViewShow;">Cancel</button>
							<button class="btn btn-primary" ng-click="builder.addView(); builder.newViewShow = !builder.newViewShow;">Add</button> 
						</div>
					</div>
				</div>
				<div class="view" ng-show="builder.views.length > 0"></div>
				<div class="view" ng-repeat="view in builder.views">
					<div class="form-group">
						<button ng-bind="view.name" ng-click="builder.loadView(view.name)" class="btn form-control" ng-class="{'btn-success': builder.currentView.name == view.name, 'btn-info': builder.currentView.name != view.name}"></button>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="view-pane">
					<div ng-show="builder.currentView.name">
						<button class="btn btn-default" ng-click="builder.addModule(); builder.newModuleShow = !builder.newModuleShow">+ Module</button>
						<div ng-show="builder.newModuleShow">
							<div class="form-group" >
								<label class="" for="">Module Name</label>
								<input class="form-control" type="text" ng-model="builder.newModuleName" typeahead="module.name for module in builder.modules | filter:$viewValue">
							</div>
							<div class="form-group clearfix">
								<div class="pull-right">
									<button class="btn btn-warning" ng-click="builder.newModuleShow = !builder.newModuleShow;">Cancel</button>
									<button class="btn btn-primary" ng-click="builder.addModuleToView(); builder.newModuleShow = !builder.newModuleShow;">Add</button> 
								</div>
							</div>
						</div>
						<div ng-repeat="module in builder.currentView.modules" class="clearfix">
							<div class="col-md-2"></div>
							<button class="btn col-md-8" ng-bind="module" ng-click="builder.loadModule(module)" ng-class="{'btn-success': builder.currentModule.name == module, 'btn-info': builder.currentModule.name != module}"></button>
							<div class="col-md-2"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div ng-show="builder.currentModule.name">
					<button class="btn btn-default" ng-click="builder.newServiceShow = !builder.newServiceShow">+ Service</button>
					<div ng-show="builder.newServiceShow">
						<hr>
						<div class="form-group" >
							<label class="" for="">Service Name</label>
							<input class="form-control" type="text" ng-model="builder.newServiceName"  typeahead="service.name for service in builder.services | filter:$viewValue | limitTo:8">
						</div>
						<div class="form-group clearfix">
							<button class="btn btn-primary pull-right" ng-click="builder.addServiceToModule(); builder.newServiceShow = !builder.newServiceShow;">Add</button>
						</div>
					</div>
					<hr>
					<div class="service" ng-repeat="service in builder.currentModule.services">
						<div class="form-group">
							<div ng-bind="service"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="clearfix">
				<button class="btn-primary btn pull-right" ng-click="builder.createApp()">Build</button>
			</div>
		</div>
	</div>
	<script src="AngularBuilderApp.module.js"></script>
	<script src="builderController.js"></script>
</body>
</html>